<img id="home-page-image" src="">

<script>
  const images = [
    "/assets/star.webp",
    "/assets/taurus.webp",
    "/assets/sun-stone.webp",
    "/assets/troy-town.webp",
    "/assets/torslunda-dancer.webp",
    "/assets/uisneach-plan.webp",
    "/assets/ogham-stone.webp",
    "/assets/ogham-stone-2.webp",
    // Dowth/Knowth star symbols
    // Boa Island Figures
  ];

  const randomItem = images[Math.floor(Math.random() * images.length)];

  const img = document.getElementById("home-page-image");
  img.src = randomItem;
</script>