<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Uisneaċ</title>
		<link rel="stylesheet" href="/css/page.css">
		<link rel="icon" type="image/x-icon" href="/assets/Gold-Celtic-Design.png">
		<meta name="author" content="{{ site.author }}" />
		{% block extra_head %}{% endblock %}
	</head>
	<body>
		{% block body %}
			{{ content | safe}}
		{% endblock %}
		{% block extra_scripts %}{% endblock %}
	</body>
</html>