<!-- modify this form HTML and place wherever you want your form -->
  <form action="https://formspree.io/f/movadoor" onsubmit="this.submit(); this.reset(); return false;" method="POST" style="align-content:center;" id="form">
    <label>
      <input type="email" name="email" required="true" placeholder="Enter Your Email..." style="background-color: rgb(29, 31, 33);border: 1px #999 solid;color:white;font-family: 'Menlo', 'Meslo LG';font-size: 12px;">
    </label>
  <button class="email-button" type="submit" onmouseover="this.style.backgroundColor='#FCC200';this.style.color='rgb(29,31,33)';" onmouseout="this.style.backgroundColor='rgb(29,31,33)';this.style.color='#908d8d';">Subscribe</button>
</form>

<script>
  //This script will clear the contents of the input field after the data is submitted.
  document.getElementById('form').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent the default form submission
      var form = this;

      fetch(form.action, {
          method: form.method,
          body: new FormData(form),
          headers: {
              'Accept': 'application/json'
          }
      }).then(function(response) {
          if (response.ok) {
              form.reset(); // Clear the form input field after submission
              alert('Thank you for signing up!');
          } else {
              return response.json().then(function(data) {
                  if (Object.hasOwn(data, 'errors')) {
                      alert(data["errors"].map(error => error["message"]).join(", "));
                  } else {
                      alert('Oops! There was a problem submitting your form');
                  }
              });
          }
      }).catch(function(error) {
          alert('Oops! There was a problem submitting your form');
      });
  });
</script>